#!/usr/bin/env zsh

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"

# Google Chrome
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias canary="/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# git alias for dotfiles
alias config="/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# Reload shell
alias reload="exec zsh"

# Command line tools
alias cat="bat"
alias ls="eza"
