[user]
  name = Greg Jopa
  email = 534034+gregjopa@users.noreply.github.com

[github]
  user = gregjopa

[alias]
  a = add
  aa = add -A
  ap = add -p
  c = commit
  ca = !git add -A && git commit
  co = checkout
  cob = checkout -b
  l = log --abbrev-commit --date=relative
  lf = !git l --pretty=full
  lg = log -p
  s = status
  st = status -sb
  unstage = reset HEAD
  delete-merged-branches = "!git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[format]
  pretty = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset

[push]
  default = current

[pull]
  rebase = true

[fetch]
  prune = true

[rerere]
  enabled = true

[core]
  autocrlf = input
  editor = code --wait
  excludesfile = ~/.gitignore

[apply]
  whitespace = fix

[credential]
  helper = osxkeychain
